{{ define "rows" }}
{{     range . }}
<tr>
  <td><input type="checkbox" name="selected_contact_ids" value="{{ .ID }}"
      x-model="selected"></td>
  <td>{{ .First }}</td>
  <td>{{ .Last }}</td>
  <td>{{ .Phone }}</td>
  <td>{{ .Email }}</td>
  <td>
      <div data-overflow-menu>
          <button type="button" aria-haspopup="menu"
              aria-controls="contact-menu-{{ .ID }}"
              >options</button>
          <div role="menu" hidden id="contact-menu-{{ .ID }}">
              <a role="menuitem" href="/contacts/{{ .ID }}/edit">edit</a>
              <a role="menuitem" href="/contacts/{{ .ID }}">view</a>
              <a role="menuitem" href="#"
                  hx-delete="/contacts/{{ .ID }}"
                  hx-confirm="are you sure you want to delete this contact?"
                  hx-swap="outerhtml swap:1s"
                  hx-target="closest tr">delete</a>
          </div>
      </div>
  </td>
</tr>

{{     end }}
{{ end}}
