<!doctype html>
<html lang="en">
<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="/missing.min.css">
    <link rel="stylesheet" href="/site.css">
    <script src="/js/htmx.min.js"></script>
    {{/* <script src="/js/_hyperscript-0.9.7.js"></script> */}}
    {{/* <script src="/js/rsjs-menu.js" type="module"></script> */}}
    {{/* <script src="/js/alpine-3.13.5.min.js" defer></script> */}}
</head>
<body hx-boost="true">
<main>
    <header>
        <h1>
            <all-caps>contacts.app</all-caps>
            <sub-title>A Demo Contacts Application</sub-title>
        </h1>
    </header>
    {{/* {% for message in get_flashed_messages() %} */}}
    {{/*   <div class="flash">{{ message }}</div> */}}
    {{/* {% endfor %} */}}
    {{/* {{ template "flash_messages"}} */}}
{{ embed }}
</main>
</body>
</html>
