
{{ $email := "" }}
{{ $first := "" }}
{{ $last := "" }}
{{ $phone := "" }}

{{ with .Email }}
{{    $email = . }}
{{ end }}
{{ with .First }}
{{    $first = . }}
{{ end }}
{{ with .Last }}
{{    $last = . }}
{{ end }}
{{ with .Phone }}
{{    $phone = . }}
{{ end }}

<form action="/contacts/new" method="post"> 
    <fieldset>
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label> 
            <input name="email" id="email" type="email" placeholder="Email" value="{{ $email  }}">
            {{/* <span class="error">{{ contact.errors['email'] }}</span> (4) */}}
        </p>
        <p>
            <label for="first">First Name</label>
            <input name="first" id="first" type="text" placeholder="First Name" value="{{ $first }}">
            {{/* <span class="error">{{ contact.errors['first'] }}</span> */}}
        </p>
        <p>
            <label for="last">Last Name</label>
            <input name="last" id="last" type="text" placeholder="Last Name" value="{{ $last }}">
            {{/* <span class="error">{{ contact.errors['last'] }}</span> */}}
        </p>
        <p>
            <label for="phone">Phone</label>
            <input name="phone" id="phone" type="text" placeholder="Phone" value="{{ $phone }}">
            {{/* <span class="error">{{ contact.errors['phone'] }}</span> */}}
        </p>
        <button>Save</button>
    </fieldset>
</form>

<p>
    <a href="/contacts">Back</a>
</p>



