{{/* {% include 'archive_ui.html' %} */}}

<form action="/contacts" method="get" class="tool-bar" style="padding-bottom:2rem">
  <label for="search">search term</label>
  <input id="search" type="search" name="q" value="{{ .query }}"
         hx-get="/contacts"
         hx-trigger="search, keyup delay:200ms changed"
         hx-target="tbody"
         hx-push-url="true"
         hx-indicator="#spinner"/>
  <img style="height: 20px" id="spinner" class="htmx-indicator" src="/img/spinning-circles.svg"/>
  <input type="submit" value="search"/>
</form>

{{/* <form x-data="{ selected: [] }"> */}}
<form>
{{/* <template */}}
{{/*     x-if="selected.length > 0"> */}}
{{/*     <div class="box info tool-bar flxed top"> */}}
{{/*         <slot x-text="selected.length"></slot> */}}
{{/*         contacts selected */}}
      
{{/*         <button type="button" class="bad bg color border" */}}
{{/*             @click="confirm(`delete ${selected.length} contacts?`) && */}}
{{/*                 htmx.ajax('delete', '/contacts', { source: $root, target: document.body })" */}}
{{/*         >delete</button> */}}
{{/*         <hr aria-orientation="vertical"> */}}
{{/*         <button type="button" @click="selected = []">cancel</button> */}} 
{{/*     </div> */}}
{{/* </template> */}}
<table>
  <thead>
  <tr>
      <th></th>
      <th>first</th>
      <th>last</th>
      <th>phone</th>
      <th>email</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
{{         template "rows" .contacts }}
  {{/* {% include 'rows.html' %} */}}
  </tbody>
</table>
  {{/* <button hx-delete="/contacts" */}}
  {{/*         hx-confirm="are you sure you want to delete these contacts?" */}}
  {{/*         hx-target="body"> */}}
  {{/*     delete selected contacts */}}
  {{/* </button> */}}
</form>
<p>
  <a href="/contacts/new">Add Contact</a>
</p>

{{/* <p> */}}
{{/*     <a href="/contacts/new">add contact</a> */}}
{{/*     <span hx-get="/contacts/count" hx-trigger="revealed"> */}}
{{/*       <img id="spinner" style="height: 20px"  class="htmx-indicator" src="/static/img/spinning-circles.svg"/> */}}
{{/*     </span> */}}
{{/* </p> */}}


